.App {
  text-align: center;
}

.react-numeric-input input {
	width: 30vh
}

.margin {
  margin: 10px !important
}

.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.centered {
  text-align: center;
}

.image {
  height: 100px;
  width: 100px !important;
  align-self: center;
}

.customCard {
  width: 14rem;
}

.unclickable {
  pointer-events: none;
}
